<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload</title>
    <link rel="stylesheet" href="/static/tailwind.min.css" />
  </head>
  <body>
    <div
      class="min-h-screen bg-white lg:bg-purple-400 flex justify-center items-center"
    >
      <div class="py-12 px-5 lg:px-12 bg-white lg:shadow-2xl rounded-2xl z-20">
        <div>
          <h1 class="text-3xl font-bold text-center mb-4 cursor-pointer">
            Upload file
          </h1>

          <p
            class="lg:w-80 w-full text-center text-sm mb-8 font-semibold text-gray-700 tracking-wide cursor-pointer"
          >
            Drag and drop your file here or click to select file.
          </p>
        </div>
        <div>
          <div class="space-y-3">
            <input
              type="file"
              name="file"
              multiple
              id="file"
              class="block text-sm py-10 px-4 rounded-lg w-full border outline-none"
            />

            <div class="text-center text-sm" id="progress"></div>
          </div>
          <div class="text-center mt-4">
            <button
              id="upload"
              class="py-3 text-lg w-full text-white bg-purple-500 rounded-lg mb-2"
            >
              Upload
            </button>

            <a class="text-purple-500" href="/files">View all files</a>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    let button = document.getElementById("upload");
    let file = document.getElementById("file");
    let progress = document.getElementById("progress");

    button.addEventListener("click", () => {
      let formData = new FormData();

      if (file.files.length < 1) {
        progress.innerHTML =
          "<span class='text-red-500'>Please select a file</span>";
        return;
      }

      for (let f of file.files) {
        formData.append("file", f);
      }

      console.log(formData);

      // upload with progress
      let xhr = new XMLHttpRequest();
      xhr.open("POST", "/upload");
      xhr.upload.addEventListener("progress", (e) => {
        progress.innerHTML = `Uploading <b>${Math.round(
          (e.loaded / e.total) * 100
        )}%</b>`;
      });
      xhr.addEventListener("load", (e) => {
        if (xhr.status === 200) {
          progress.innerHTML = "Upload completed";
        } else {
          progress.innerHTML = "<span style='color: red'>Upload failed</span>";
        }
      });
      xhr.addEventListener("error", (e) => {
        progress.innerHTML = "Error uploading file(s)";
      });
      xhr.addEventListener("abort", (e) => {
        progress.innerHTML = "Upload aborted";
      });

      xhr.send(formData);
    });
  </script>
</html>
